div{
    background-color: dimgray;
    color: aliceblue;
    border: 15px;
    border-top: 5px dotted red;
    border: 5px solid red;
    border: 15px solid red;
    border:5px groove red ;
    padding: 15px;
    margin:0;
}
