*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: silver;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: #5252d4f3;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}
nav a{
font-size: 2em;
display: inline-block;
color: #000000;
padding-left: 1.5em;
padding-right: 1.5em;
text-decoration: none;

}

nav > a:hover{
    color: #000000;
    background-color: white;
}

input:focus{
    background-color: silver;
    color: black;
}

a:active{
    text-decoration: none ;
    color: black;
    font-size: 2em;
}

a:visited{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}